
<footer class="page-footer blue">
    <div class="footer-copyright">
        <div class="container">
            <span>
                Site powered by <a class="green-text text-lighten-3" href="#">#</a>.
            </span>
            <span>
                &copy; 2018 <a class="green-text text-lighten-3" href="#">Tipp</a>, All rights reserved.
            </span>
        </div>
    </div>
</footer>