
<div class="navbar-fixed">
    <nav class="transparent" role="navigation">
        <div class="nav-wrapper container">

            {{! logo }}
            <a id="logo-container" href="#" class="brand-logo">
                Kilominx
            </a>

            {{! tablet/desktop nav }}
            <ul class="right hide-on-med-and-down">
                <li><a href="#" class="darken-1">Link 1 <i class="material-icons left">link</i></a></li>
                <li><a href="#" class="darken-1">Link 2 <i class="material-icons left">link</i></a></li>
                <li><a href="#" class="darken-1">Link 3 <i class="material-icons left">link</i></a></li>
            </ul>

            {{! mobile nav open }}
            <a href="#" data-target="nav-mobile" class="sidenav-trigger right"><i class="material-icons">menu</i></a>
        </div>
    </nav>
</div>

{{! mobile nav }}
<ul id="nav-mobile" class="sidenav">
    <li><a class="subheader">Page Links</a></li>
    <li><a href="#" class="waves-effect waves-light">Link 1</a></li>
    <li><a href="#" class="waves-effect waves-light">Link 2</a></li>
    <li><a href="#" class="waves-effect waves-light">Link 3</a></li>
</ul>