
{{! preloader modal }}
<div class="preloader-modal center valign-wrapper">
    <p class="header flow-text center"></p>
    <div class="preloader">
        <img src="../../img/rubiks_loader.gif" alt="rubiks preloader">
    </div>
</div>